/* custom input design */
.ms-fieldset {
    border: 1px solid #060606;
}

.ms-legend {
    color: #060606;
    font-size: 16px;
    margin-bottom: -8px;
}

.ms-input {
    background: transparent;
    border: none;
    outline: 0;
    font-size: 18px;
}

.ms-input:hover,
.ms-input:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

/* custom input design end*/